In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [13]:
train = pd.read_csv("C:\\Users\\aagam\\Desktop\\52404120-e-Dataset-2\\Dataset-2\\competition_second_train.csv",names = np.arange(0,76))
test = pd.read_csv("C:\\Users\\aagam\\Desktop\\52404120-e-Dataset-2\\Dataset-2\\competition_second_test.csv",names = np.arange(0,75))

In [14]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [15]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,1051,20,RL,73.0,8993,Pave,NaN,IR1,Lvl,Inside,...,0,0,NaN,NaN,NaN,0,8,2007,New,Partial
1,1052,20,RL,103.0,11175,Pave,NaN,IR1,Lvl,Corner,...,0,0,NaN,NaN,NaN,0,10,2007,New,Partial
2,1053,60,RL,100.0,9500,Pave,NaN,Reg,Lvl,Corner,...,0,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal
3,1054,20,RL,68.0,8562,Pave,NaN,Reg,Lvl,Inside,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
4,1055,60,RL,90.0,11367,Pave,NaN,Reg,Lvl,Corner,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [16]:
print 'Data Dimensions: ',train.shape
print 'Number of Null values in columns: ', train[train.columns].isnull().sum()

Data Dimensions:  (1050, 76)
Number of Null values in columns:  0        0
1        0
2        0
3      185
4        0
5        0
6      985
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       6
23       0
24       0
25       0
26      30
27      30
28      31
29      30
      ...
46       0
47       0
48       0
49       0
50       0
51       0
52       0
53     499
54      60
55      60
56       0
57       0
58      60
59      60
60       0
61       0
62       0
63       0
64       0
65       0
66       0
67    1048
68     851
69    1007
70       0
71       0
72       0
73       0
74       0
75       0
dtype: int64

In [17]:
print 'Data Dimensions: ',test.shape
print 'Number of Null values in columns: ', test[test.columns].isnull().sum()

Data Dimensions:  (410, 75)
Number of Null values in columns:  0       0
1       0
2       0
3      74
4       0
5       0
6     384
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      2
23      0
24      0
25      0
26      7
27      7
28      7
29      7
     ...
45      0
46      0
47      0
48      0
49      0
50      0
51      0
52      0
53    191
54     21
55     21
56      0
57      0
58     21
59     21
60      0
61      0
62      0
63      0
64      0
65      0
66      0
67    405
68    328
69    399
70      0
71      0
72      0
73      0
74      0
dtype: int64

### Null columns where null values are greater than 100

In [20]:
null = train[train.columns].isnull().sum()
print null[null > 100]

3      185
6      985
53     499
67    1048
68     851
69    1007
dtype: int64

In [21]:
print null[null > 0]

3      185
6      985
22       6
26      30
27      30
28      31
29      30
31      31
53     499
54      60
55      60
58      60
59      60
67    1048
68     851
69    1007
dtype: int64

In [25]:
obj_col = train.columns[train.dtypes != int64]

In [26]:
obj_col

Int64Index([ 2,  3,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 19, 20, 21, 22, 23,
            24, 25, 26, 27, 28, 29, 31, 35, 36, 37, 38, 49, 51, 53, 54, 55, 58,
            59, 60, 67, 68, 69, 73, 74],
           dtype='int64')

### Converting object type columns into int

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in obj_col:
    train[i] = le.fit_transform(train[i])
train.dtypes

C:\Anaconda2\lib\site-packages\numpy\lib\arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

0     int64
1     int64
2     int64
3     int64
4     int64
5     int64
6     int64
7     int64
8     int64
9     int64
10    int64
11    int64
12    int64
13    int64
14    int64
15    int64
16    int64
17    int64
18    int64
19    int64
20    int64
21    int64
22    int64
23    int64
24    int64
25    int64
26    int64
27    int64
28    int64
29    int64
      ...
46    int64
47    int64
48    int64
49    int64
50    int64
51    int64
52    int64
53    int64
54    int64
55    int64
56    int64
57    int64
58    int64
59    int64
60    int64
61    int64
62    int64
63    int64
64    int64
65    int64
66    int64
67    int64
68    int64
69    int64
70    int64
71    int64
72    int64
73    int64
74    int64
75    int64
dtype: object

In [28]:
train.columns[train.dtypes != int64]

Int64Index([], dtype='int64')

In [31]:
obj_col = test.columns[test.dtypes != int64]
obj_col

Int64Index([ 2,  3,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 19, 20, 21, 22, 23,
            24, 25, 26, 27, 28, 29, 31, 35, 36, 37, 38, 49, 51, 53, 54, 55, 58,
            59, 60, 67, 68, 69, 73, 74],
           dtype='int64')

In [32]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in obj_col:
    test[i] = le.fit_transform(test[i])
test.dtypes

0     int64
1     int64
2     int64
3     int64
4     int64
5     int64
6     int64
7     int64
8     int64
9     int64
10    int64
11    int64
12    int64
13    int64
14    int64
15    int64
16    int64
17    int64
18    int64
19    int64
20    int64
21    int64
22    int64
23    int64
24    int64
25    int64
26    int64
27    int64
28    int64
29    int64
      ...
45    int64
46    int64
47    int64
48    int64
49    int64
50    int64
51    int64
52    int64
53    int64
54    int64
55    int64
56    int64
57    int64
58    int64
59    int64
60    int64
61    int64
62    int64
63    int64
64    int64
65    int64
66    int64
67    int64
68    int64
69    int64
70    int64
71    int64
72    int64
73    int64
74    int64
dtype: object

### Impute missing Values

In [35]:
print null[(null > 0) & (null <100)]

22     6
26    30
27    30
28    31
29    30
31    31
54    60
55    60
58    60
59    60
dtype: int64

In [37]:
train[22].fillna(train[22].median(),inplace=True)
train[26].fillna(train[26].median(),inplace=True)
train[27].fillna(train[27].median(),inplace=True)
train[28].fillna(train[28].median(),inplace=True)
train[29].fillna(train[29].median(),inplace=True)
train[31].fillna(train[31].median(),inplace=True)
train[54].fillna(train[54].median(),inplace=True)
train[55].fillna(train[55].median(),inplace=True)
train[58].fillna(train[58].median(),inplace=True)
train[59].fillna(train[59].median(),inplace=True)

In [39]:
null = train[train.columns].isnull().sum()
null[null >0]

Series([], dtype: int64)

In [44]:
train[train.columns].isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
     ..
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
58    0
59    0
60    0
61    0
62    0
63    0
64    0
65    0
66    0
67    0
68    0
69    0
70    0
71    0
72    0
73    0
74    0
75    0
dtype: int64

In [45]:
dir = r'C:\Program Files\mingw-w64\x86_64-6.2.0-posix-seh-rt_v5-rev1\mingw64\bin'
import os
os.environ['PATH'].count(dir) # Here I show its already in the path at least once
os.environ['PATH'].find(dir)
os.environ['PATH'] = dir + ';' + os.environ['PATH'] # I put it on the beginning of the path, NOT THE END.

### Taking all variables for predicting except the 0th column

In [46]:
predictor_var = np.arange(1,75)
outcome_var = [75]

In [53]:
%%time
import xgboost as xgb
from xgboost.sklearn import XGBRegressor
from sklearn.cross_validation import cross_val_score


model = XGBRegressor()
results = cross_val_score(model, train[predictor_var], train[outcome_var], cv=5)
print("Accuracy: %.2f%% Std.Dev. (%.2f%%)" % (results.mean()*100, results.std()*100))
print("min: {:.3f}, mean: {:.3f}, max: {:.3f}".format(
    results.min(), results.mean(), results.max()))

Accuracy: 85.13% Std.Dev. (5.81%)
min: 0.741, mean: 0.851, max: 0.904
Wall time: 739 ms

In [54]:
model.fit(train[predictor_var],train[outcome_var])
predictions = model.predict(test[predictor_var])
file_submit=pd.DataFrame()
file_submit['Id']=test[0]
file_submit['Prediction']=predictions
print file_submit.head()
file_submit.to_csv("C:\\Users\\aagam\\Desktop\\reg_xgboost.csv")

     Id     Prediction
0  1051  172288.296875
1  1052  174227.359375
2  1053  170129.437500
3  1054  151642.531250
4  1055  262819.343750